body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
}

#time{
    color: bisque;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: 2px solid white;
    padding: 40px;
}